header {
    background-image: linear-gradient(to right, #007bff, navy);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.card {
    background-color: #007bff;
}

#current-UV-index {
    font-size: 100%;
    padding: .3em .8em;
}

.forecast-icon {
    height: 50%;
    width: 50%;
}